# Node modules
node_modules/

# Angular cache and build artifacts
/.angular
/dist
/aot
/.ng


# Logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE and editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories (if using Yarn or pnpm)
.yarn/
.pnpm/
.yarnrc
.pnpmfile.js

# Testing coverage
/coverage

# Production build
/dist/